body {font-family: 微软雅黑; font-size: 14px; color: #333;}
ul{ padding: 0;margin: 0;}
li{ list-style: none;}
.bgf5f5f5{ background-color: #f5f5f5;}
.bgfff{ background-color: #fff;}

/*公共樣式*/
img{ max-width: 100%;}
.mt10{ margin-top: 10px;}
.wrap{ width: 100%; }
.pd10{ padding:0 10px; }

/*網站統一顏色*/
.fc-red,.fc-red:hover{ color: #ff625f;}
.fc-999{ color: #999;}
.btmborder{ border-bottom: solid 1px #eee;}
.blue{ color: #007cbf; }

/*頂部樣式*/
.header{ background-color: #771a7a; height: 44px; border-bottom: solid 1px #b685b8;}
.header img{ position: absolute; left: 10px; top: 10px; }
.header .title{ font-size: 18px; line-height: 44px; color: #fff; }

/*搜索欄*/
.serach{ background-color: #ececec; height: 35px; border-top: solid 1px #fff; position: relative; }
.serach img{ position: absolute; top: 10px; left: 10px; }
.serach input[type="text"]{ color: #008cd7; width: 88%; position: absolute; left: 33px; top: 7px; border-width: 0; background-color: #ececec; }

/*搜索結果列表*/
.listSerach .stitle{ font-size: 15px; margin-top: 10px; }
.listSerach .serachInfo{ margin-left: 15px; color: #771a7a;}
.serachInfo div{ font-size: 28px; line-height: 42px;}
.serachInfo span{ font-family: Georgia; font-size: 35px; }
.serachInfo p{ margin: 4px 0;}
.list{ border: solid 1px #bbb; border-top: 0; }
.listCont,.listLeft{ float: left; }
.list .listLeft{text-align: center; border-right: solid 1px #bbb; width: 75px;}
.list li{ width: 100%; line-height: 26px;border-top: solid 1px #bbb;  }
.listCont{ padding-left: 10px; }
.listCont span{ color: #771a7a; font-weight: bold; }
.link{ padding: 2px 3px; border-radius: 5px;}
.link,.link:focus, .link:hover{ color: #fff; text-decoration:none;}
.link.bc{ background-color: #ff9c00; }
.link.hd{ background-color: #00cecc; }
.detelist{ margin:12px 0 8px 0; }
.detelist ul{ width: 90%; margin-top: 3px;}
.detelist li{ border-left: solid 1px #999;color: #771a7a; float: left; font-weight: bold; padding: 0 15px; font-size: 13px; line-height: 15px;}
.detelist li:first-child{ border-left: 0; padding-left: 0; }
.linkmore{ font-size: 15px; }
.pricebar{ background-color: #f4ecf5; border-bottom: solid 3px #c7bcd1; margin:0 -10px; position: relative; padding: 5px 0;}
.left{ font-weight: bold; padding-left: 10px;}
.left div{color: #ff4200; font-size: 20px;}
.left span{ font-size: 13px; color: #333;}
.left label{ font-size: 13px; color: #999;}
.linkbtn{ background-color: #ffd200; width: 40%; padding: 10px 0; border-radius: 5px; display: inline-block; font-size: 17px; text-align: center; font-weight: bold; position: absolute; right: 10px; top: 10px;}
.linkbtn,.linkbtn:focus, .linkbtn:hover{color:#771a7a; text-decoration:none; }
.start{border:solid 1px #bbb;}
.start .title{ background-color: #dcdcdc; color: #771a7a; padding-left: 10px; line-height: 26px; border-bottom: solid 1px #e8e8e8; font-size: 15px;}
.start .cont{ padding: 10px 8px; }
.start .detelist{ margin: 0; }
.middle{ border-bottom: solid 2px #bbb; margin: 5px 0; font-size: 15px; }
.linkOut{ display: inline-block; width: 100%; padding: 10px 0; font-size: 17px; }
.linkOut img{ vertical-align: middle; margin-top: -3px; }

/*訂購專線*/
.zixun .title{ line-height: 40px; height: 40px; color: #771a7a; background-color: #efefef; padding-left: 10px; }
.zixun p{ margin: 0; padding: 10px 15px; }
.footer{ background-color: #efefef; padding: 10px 15px; color: #999;}
.gotop{ display: none; position: fixed; right: 10px; bottom: 90px; }

/*排序篩選*/
.order{ background-color: #efefef; height: 44px; margin-bottom: 1px;}
.order li{ float: left; width: 33%; padding-left: 15px; line-height: 44px; }
.order .arrow{ position: relative; width: 20px; height: 44px; float: left; }
.order .caret{ position: absolute; }
.caret{ top: 24px; }
.caret.up{content: "";border-top: 0;border-bottom: 4px dashed;border-bottom: 4px solid\9;}
.up{ top: 15px;}

/*行程介紹*/
.introduce img{ border: solid 1px #ddd; }
.introduce .num{ color: #999; margin: 0; padding: 8px 0 5px 0;}
.introduce .title{ font-size: 15px; }
.remarkMore{ border-bottom: solid 1px #bbb;}
.remarkMore p{ font-size: 13px; color: #999; margin: 0; padding: 10px 0; line-height: 20px; height: 50px; overflow: hidden; } 
.lookMore{ text-align: center; display: inline-block; padding: 10px 0;}
 
/*出行信息*/
.info li{ float: left; width: 100%; margin: 15px 0 5px 0; }
.info img{ float: left; margin-right: 15px; }
.rightM p{ margin: 5px 0; font-weight: bold; }
.linkbtnMore{ background-color: #771a7a;font-size: 15px; font-weight: bold; border-radius: 5px; padding: 10px 0; display: block; text-align: center; margin: 10px 0 15px 0; }
.linkbtnMore,.linkbtnMore:hover{ color: #fff; text-decoration: underline;}

.listItem{ margin-bottom: 2px; }
.listItem .title{ background-color: #f4ecf5; line-height: 55px; color: #771a7a; font-size: 16px; padding-left: 15px; position: relative; }
.listItem .title img{ position: absolute; right: 10px; top: 23px;}
.itemCont{ display: none; }
.itemCont label{ color: #ff4200; margin: 0; padding-top: 8px;}
.itemCont .btm{ padding: 10px 0;}
.statue,.trip{float: left; }
.statue{ padding-right: 15px; margin-top: 10px;}
.statue b{ color: #771a7a; text-align: center; display: block; padding-top: 5px;}
.trip p{ font-size: 16px; margin: 0;}
.trip span{color: #999;}
.listtxt{ height: 53px; overflow: hidden; }
.introduction .stitle{color: #771a7a; font-size: 13px; padding-top: 10px;}
.introduction .stitle img{ padding-right: 10px; float: left; margin-top: 2px;}
.introduction .txt{ padding: 10px 0;}
.anpai img{ float: left; padding-right: 10px;}
.anpai .txtRight{ font-size: 14px; width: 80%;}
.litable{ border: solid 1px #ddd; padding:0 5px; margin-bottom: 10px;}
.lititle{ float: 15px; border-bottom: solid 1px #ddd; line-height: 40px;}
.litxt{ border-bottom: solid 1px #ddd; padding: 10px; margin: 0 -5px;}
.litxt span{ color: #ff4200;}
.feitxt{ padding: 10px 0; line-height: 24px;}
.ad{ background-color: #771a7a; padding: 5px 10px; position: fixed; bottom: 0; left: 0; width: 100%;}
.ad span{color: #ffd200;}
.ad .total{ font-size: 23px; color: #fff;}
.ad .total span{ font-size: 13px; color: #fff;}
.explain,.explain:hover{ color: #fff; text-decoration: underline;}
.linkbtnSignUp{ border: solid 2px #ffef00; width: 40%; display: inline-block; font-size: 23px; padding: 6px 0; position: absolute; top: 18px; right: 10px; text-align: center; border-radius: 5px;}
.linkbtnSignUp,.linkbtnSignUp:hover{ color: #ffd200;}

/*选择成行人数*/
.header .title b{ background-color: #fff; line-height: 18px; display: inline-block; border-radius: 20px; color: #771a7a; font-size: 12px; width: 18px; height: 18px; border-radius: 18px;}
.sendfor{ background-color: #f4ecf5; padding: 10px;}
.sendfor .title{ font-size: 16px;}
.sendfor .title img{ float: left; padding-right: 5px; margin-top: 4px;}
.sendfor .stitle{ font-size: 15px; line-height: 27px;}
.details{ font-size: 13px; line-height: 22px; color: #999;}
.room{ padding: 5px 10px;}
.room li{ float: left; width: 100%; padding: 5px 0;}
.room .lileft{ width: 27%; float: left;text-align: right;}
.room .liright{ width: 68%; float: right;}
.liright select{ width: 100%; padding: 5px 0;}
.room li span{ color: #ff4200;}
.chooseHouse{ border-bottom: solid 2px #ddd;}
.chooseHouse .title{ font-size: 15px; color: #771a7a; line-height: 50px;}
.chooseHouse .stitle{ line-height: 40px; background-color: #ececec;}
.totals{background-color: #fff8d9; padding: 10px;}
.totals span{ color: #ff4200;}

/*会员登入*/
.login{ padding:10px; background-color: #f4ecf5; margin-bottom: 5px;}
.form .formitem{ float: left; width: 100%; padding-bottom:10px; }
.formitem input[type='text'],input[type='password']{ line-height: 50px; border: solid 1px #771a7a; border-radius: 5px; width: 100%; padding-left: 10px;}
.buy,.buy:hover{ color: #ff0000;}
.btnLogin{background-color: #771a7a; font-size: 19px;border-width: 0; border-radius: 5px; width: 100%; color: #fff;}
.links{ border: solid 1px #ddd; border-radius: 5px; font-size: 16px; background-color: #fff;}
.links,.btnLogin{display: block; text-align: center;  line-height: 50px;}
.links,.links:hover{ color:#771a7a; text-decoration: none; }
.orderNo{ color: #ff4200; font-size: 16px;}
.payfor{ margin-bottom: 10px;}
.payfor .orderNo{ font-size: 15px; padding: 10px 0;}
.pays .title{ font-size: 16px; line-height: 35px; font-weight: bold;}
.payfor{ border: solid 1px #771a7a; margin-top: 10px;}
.choose{ background-color: #f4ecf5; line-height: 55px;}
.choose label{ width: 50%; float: left; padding-left: 10px; font-size: 16px; color: #771a7a;}
.state{ padding-top: 8px; color: #ff4200;}
.state img{ float: left; padding-right: 10px}
.payfor .stitle{ background: none; color: #999; line-height: 22px;}
.head{ padding-top:5px;}
.payfor .lileft,.payfor .liright{ float: left; width: 50%; }
.payfor .liright{text-align: right;}
.payfor li{ border-top: solid 1px #ddd; line-height: 40px;}
.payfor li:first-child{ border-top: 0;}
.payfor .liright span{ color: #ff4200;}
.payfor .totals{ margin: 0 -10px; border-top: solid 1px #771a7a;}
.payfor .totals li{ border:0; line-height: 30px;}

/*付款方式*/
.pays .paytype .title{ color: #333; font-weight: normal;}
.typeitem{ background-color: #f4ecf5; padding: 10px;}
.tipinfo{ width: 80%; float: left;}
.typeitem{ margin-bottom: 5px;}
.typeitem label{ padding-right: 7px;}
.typeitem p{ margin: 0 7px 0 0;}
.typeitem span{ color: #771a7a;}
.typeitem .fen{ padding-bottom: 10px;}
.adinfo{ height: 85px; }
.adinfo .total{ margin-top: 20px;}
.adinfo .linkbtnSignUp{ padding: 6px 0; font-size: 20px; background-color: #771a7a; top: 23px;}

/*搜索引擎*/
.serachpage{ padding: 10px 10px 60px 10px; }
.ui-formitem{ margin-bottom: 10px; }
.ui-formitem label{ font-weight: normal; }
.ui-formitem .inputlink,select{ width: 100%; border-radius: 5px; border: solid 1px #ddd; line-height: 40px; font-weight: bold; padding-left: 10px;}
.ui-formitem .inputlink,.ui-formitem .inputlink:hover{ display: block;  color: #333; text-decoration: none;}
.ui-formitem select{ padding: 12px 0 12px 8px; }
.screening{ border: solid 1px #ddd; }
.screening li{ float: left; width: 100%; padding: 10px 5px; border-top: solid 1px #ddd;}
.screening li span{ display: inline-block; padding: 2px 7px; margin-right: 25px; line-height: 22px; }
.screening li p{ margin: 0 0 5px 0; }
.clickspan{ background-color: #ad6caa; color: #fff; border-radius: 5px; }
.screening li:first-child{border-top: 0;}
.btnRSerach{ line-height: 50px; font-size: 18px; color: #fff; background-color: #771a7a; text-align: center; width: 100%; position: fixed; bottom: 0; left: 0; border-width: 0; }

/*頂部樣式*/
.topbar{ background-color: #771a7a; padding-bottom: 5px; height: 94px; position: relative;}
.topbar b{ font-size: 16px; color: #fff; line-height: 35px;}
.btnclose{ position: absolute; right:8px; top: 10px; }
.serachbar{ margin: 10px 5px 0px 5px; background-color: #fff; border-radius: 5px; padding: 5px 10px; position: relative;}
.serachbar label{ float: left; color: #999; font-size: 13px; padding-right: 10px; line-height: 34px; margin: 0;}
.serachbar input{ font-size: 15px; border-width: 0; line-height: 32px; width: 82%;}
.serachbar .del{ position: absolute; right: 10px; top: 16px; }

/*地區選擇*/
.chooseleft{ width: 25%; text-align: right; background-color: #f4f4f4;}
.chooseleft li{ width: 100%; float: left; border-bottom: solid 1px #ddd; padding-right: 10px; line-height: 40px; color: #999; border-right: solid 1px #ddd; position: relative; left: 1px;z-index: 10; }
.chooseleft li.active{ background-color: #fff; border-right: solid 1px #fff; }
.chooseright{ width: 75%; background-color: #fff; border-left: solid 1px #ddd; position: absolute; top: 94px; bottom: 0; left: 25%;}
.chooseitem{padding-left: 10px;display: none;}
.chooseitem p{ line-height: 40px;margin: 0;}
.chooseitem span{ display: inline-block; padding: 3px 7px; margin-right: 20px; }
.keylist{ background-color: #fff; position: absolute; top: 94px; left: 0; width: 100%; background-color: #fff; z-index: 100; display: none;}
.keylist li{ display: block; padding:0 10px; line-height: 45px;  }
.keylist li:hover{ background-color: #f4edf5;}
.keylist li span{ color: #ff4000; }

/*日歷控件*/
.pagedemo{width:700px;margin:0 auto;text-align:left;}
.pagedemo h1{font-size:21px;height:47px;line-height:47px;text-transform:uppercase;}
.tabsContent{border:1px solid #ccc;width:698px;overflow:hidden;}
.tab{padding:16px;display:block;}
.tab h2{font-weight:bold;font-size:16px;}
.tab h3{font-weight:bold;font-size:14px;margin-top:20px;}
.tab p{margin-top:16px;clear:both;}
.tab ul{margin-top:16px;list-style:disc;}
.tab li{margin:10px 0 0 35px;}
.tab a{color:#8FB0CF;}
.tab strong{font-weight:bold;}
.tab pre{font-size:11px;margin-top:20px;width:668px;overflow:auto;clear:both;}
.tab table{width:100%;}
.tab table td{padding:6px 10px 6px 0;vertical-align:top;}

input.inputDate{border:1px solid #999;padding:4px;border-bottom-color:#ddd;border-right-color:#ddd;width:165px;}
#widgetField{width:290px;height:26px;background:url(images/field.png);overflow:hidden;position:relative;}
#widgetField a{display:block;position:absolute;width:26px;height:26px;top:0;right:0;text-decoration:none;text-indent:-3000px;}
#widgetField span{color:#000;position:absolute;top:0;height:26px;line-height:26px;left:5px;width:250px;}
#widgetCalendar{position:absolute;top:26px;left:0;height:0px;overflow:hidden;background:#B9B9B9;}
.datepickerDays a{ line-height: 50px; height: 50px; width: 50px; text-align: center;}
.datepickerContainer{ background-color: #fff; }
div.datepicker a,div.datepicker a:hover{ color: #333;}
td.datepickerNotInMonth a{ color: #999;}
tbody.datepickerDays td.datepickerSelected a{ background-color: #ffd202; }
div.datepicker{ font-size: 14px; }
.datepickerMonth span{ font-size: 16px; color: #781a7a;}
tbody td a{ background-color: #f3ecf4; }
tbody td.datepickerNotInMonth a,thead th a{ background-color: #fff; }
div.datepicker table .datepickerDoW th{ padding: 10px; line-height: 20px; text-align: center; }
div.datepicker tbody th a{ padding: 10px 0; display: block; height: 35px; }
#widgetCalendar{ width: 100%; background-color: #fff; top: 94px; }
.datepickerContainer{ left: 0; top: 0; }
.datepickerGoNext,.datepickerGoPrev{ display: none; }
.lasttable{ position: absolute; top: 200px; left: 0; top: 370px; }
@media screen and (min-width: 320px){
	.datepickerDays a{ width: 45px; line-height: 45px; }
}
@media screen and (min-width: 360px){
	.datepickerDays a{ width: 50px; line-height: 50px; 
}
