@charset "utf-8";
/* CSS Document */

/* 第一款版頭 */




/* 第二款版頭 */
.header-02{
	padding-top: 10px;
	border-bottom: 4px solid #771a7a;
}
.header-02-pc{
	display: block;
}
.header-02-mobile{
	display: none;
}
.header-02 .header-link{
	text-align: right;
	font-size: 14px;
}
.header-02 .header-link ul li{
	display: inline-block;
}
.header-02 .header-link ul li:before{
	content: '│';
}
.header-02 .header-link ul li a{
	color: #000000;
	transition: .3s;
}
.header-02 .header-link ul li a:focus,
.header-02 .header-link ul li a:hover{
	color: #771a7a;
	text-decoration: none;
	background-color: #eee4ee;
}
.header-02 .header-rainbow{
	width: auto;
	max-width: 60%;
	display: inline-block;
	float: right;
	margin-bottom: 10px;
}
.header-02 .header-rainbow img{
	width: 100%;
}
.header-02 .header-logo{
	width: 100%;
}
.header-02 .header-logo img{
	max-width: 100%;
}
.header-02 .header-02-menu{
	width: 100%;
	height: 60px;
	display: inline-block;
	text-align: center;
}
.header-02 .header-02-menu a{
	line-height: 50px;
	display: inline-block;
	padding: 0 10px;
	color: #771a7a;
	font-size: 20px;
	font-weight: bold;
}
.header-02 .header-02-menu a:focus,
.header-02 .header-02-menu a:hover{
	background-color: #eee4ee;
	text-decoration: none;
}
.header-02 .header-02-menu a.active{
	background-color: #771a7a;
	color: #ffffff;
}
.header-02 .header-02-menu a.active:focus,
.header-02 .header-02-menu a.active:hover{
	text-decoration: none;
}
@media screen and (max-width:1260px){
	.header-02 .header-02-menu a{
		font-size: 16px;
		padding: 0 6px;
	}
}
@media screen and (max-width:990px){
	.header-02 .header-02-menu a{
		padding: 0 4px;
		font-size: 15px;
	}
}
@media screen and (max-width:880px){
	.header-02 .header-02-menu a{
		padding: 0 1px;
		font-size: 14px;
	}
}
@media screen and (max-width:767px){
	.header-02-pc{
		display: none;
	}
	.header-02-mobile{
		display: block;
	}
	.header-02{
		padding-top: 0px;
		border-bottom: 0px solid #771a7a;
		margin-bottom: -20px;
	}
}

.header-02-mobile{
	margin: 0;
}
.header-02-mobile .navbar{
	background-color: transparent;
	border: none;
}
.header-02-mobile .navbar .navbar-header{
	background-color: #771a7a;
	color: #ffffff;
	line-height: 50px;
	font-size: 	20px;
	text-align: center;
}
.header-02-mobile .navbar .navbar-toggle{
	border:none;
	float: none;
	margin-right: 0;
	position: absolute;
	left: 0;
	top: 0;
}
.header-02-mobile .navbar .navbar-toggle .icon-bar{
	background-color: #ffffff;
}
.header-02-mobile .navbar .navbar-toggle:focus,
.header-02-mobile .navbar .navbar-toggle:hover{
	background-color: transparent;	
}
.header-02-mobile .navbar .navbar-toggle:focus .icon-bar,
.header-02-mobile .navbar .navbar-toggle:hover .icon-bar{
	background-color: #ffd200;	
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
	background-color: #eee4ee;
}













/* 第三款版頭 */
.header-03{
	background-color: #efefef;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}
.header-03 .header-logo{
	width: 200px;
	display: inline-block;
	position: relative;
}
.header-03 .header-logo img{
	width: 100%;
}
.header-03 .header-rainbow{
	width: 400px;
	max-width: 60%;
	display: inline-block;
	float: right;
	margin-bottom: 10px;
}
.header-03 .header-rainbow img{
	width: 100%;
}

@media screen and (max-width:767px){
	.header-03 .header-logo{
		width: 120px;
	}
	.header-03 .header-rainbow{
		width: 100px;
	}

}










/* footer========================================================================== */
.footer{
	background-color: #ffffff;
	width: 100%;
	position: relative;
	padding: 10px 0;
	/* border-top: 1px solid #761a7a; */
}

/* award */
.footer .footerAward{
	text-align: center;
}
.footer .footerAward ul{
	padding: 0;
}
.footer .footerAward ul li{
	display: inline-block;
	padding: 0 10px;
}
@media screen and (max-width:990px){
	.footer .footerAward ul li{
		width: 40%;
	}
	.footer .footerAward ul li a img{
		max-width: 100%;
	}
}


/* menu */
.footer .footerMenu{
	background-color: #761a7a;
	line-height: 30px;
	text-align: center;
	color: #ffffff;
	border-top: 2px solid #fff000;
}
.footer .footerMenu ul{
	padding: 0;
}
.footer .footerMenu ul li{
	display: inline-block;
}
.footer .footerMenu ul li a{
	color: #ffffff;
	transition: .3s;
}
.footer .footerMenu ul li+li:before{
	content: '│';
	display: inline-block;
	margin: 0 5px;
}
.footer .footerMenu ul li a:focus,
.footer .footerMenu ul li a:hover{
	text-decoration: none;
	color: #fff000;
}


/* content */
.footerContent{
	line-height: 28px;
	padding-bottom: 20px;
}
.footerContent .footerPhone{
	width: 100%;
	display: block;
	background-color: #fff000;
	line-height: 40px;
	text-align: center;
	color: #761a7a;
	font-weight: bold;
	margin-bottom: 10px;
	transition: .3s;
	border: 2px solid #fff000;
}
.footerContent .footerPhone:focus,
.footerContent .footerPhone:hover{
	text-decoration: none;
	border: 2px solid #761a7a;
}
.footerContent .footerContentTitle{
	display: block;
	width: 100%;
	padding-left: 5px;
	border-left: 5px solid #761a7a;
	line-height: 30px;
	margin-bottom: 5px;
}
.footerContent a{
	color: #000000;
	transition: .3s;
}
.footerContent a:focus,
.footerContent a:hover{
	text-decoration: none;
	color: #761a7a;
}


/* footerCertification */
.footer .footerCertification{
	border-top: 1px solid #761a7a;
	padding: 10px 0;
	text-align: center;
}
.footer .footerCertification ul{
	padding: 0;
}
.footer .footerCertification ul li{
	display: inline-block;
	margin: 0 10px;
}
.footer .footerCertification ul li a.footer-icon01{
	width: 55px;
	height: 40px;
	display: inline-block;
	background-image: url('/Content/images/footer-icon.jpg');
	background-position: 0 0;
}
.footer .footerCertification ul li a.footer-icon02{
	width: 33px;
	height: 40px;
	display: inline-block;
	background-image: url('/Content/images/footer-icon.jpg');
	background-position: -55px 0;
}
.footer .footerCertification ul li a.footer-icon03{
	width: 55px;
	height: 40px;
	display: inline-block;
	background-image: url('/Content/images/footer-icon.jpg');
	background-position: -88px 0;
}
.footer .footerCertification ul li a.footer-icon04{
	width: 51px;
	height: 40px;
	display: inline-block;
	background-image: url('/Content/images/footer-icon.jpg');
	background-position: -143px 0;
}
.footer .footerCertification ul li a.footer-icon05{
	width: 59px;
	height: 40px;
	display: inline-block;
	background-image: url('/Content/images/footer-icon.jpg');
	background-position: -194px 0;
}
.footer .footerCertification ul li a.footer-icon06{
	width: 136px;
	height: 40px;
	display: inline-block;
	background-image: url('/Content/images/footer-icon.jpg');
	background-position: -253px 0;
}
.footer .footerCertification ul li a.footer-icon07{
	width: 60px;
	height: 40px;
	display: inline-block;
	background-image: url('/Content/images/footer-icon.jpg');
	background-position: -389px 0;
}

/* footerCopyright */
.footer .footerCopyright{
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}





















/* footer-mobile================================================================ */
.footer-mobile{
	display: none;
	width: 100%;
	background-color: #efefef;
    color: #333;
}
.footer-mobile div{
	padding: 15px 10px;
}
.footer-mobile div.bg-w{
	background-color: #ffffff;
}
.footer-mobile div a{
	color: #007cbf;
	text-decoration: underline;
}
@media screen and (max-width:767px){
	.footer{
		display: none;
	}
	.footer-mobile{
		display: block;
	}	

}









@media screen and (max-width:990px){


}
@media screen and (max-width:767px){


}
@media screen and (max-width:380px){



}