@charset "utf-8";
/* CSS Document */




/* 搜尋結果頁================================================================ */

/* 顯示搜尋結果 */
.search{
	padding: 5px 0;
	/* margin-left: -15px; */
	/* margin-right: -15px; */
	background-color: #ffffff;
	/* margin-top: -15px; */
}
.searchLine{
	font-size: 18px;
	color: #008cd7;
	line-height: 40px;
	width: 100%;
	padding: 10px 150px 10px 10px;
	position: relative;
}
.searchLine i{
	margin-right: 10px;
}
.searchLine a{
	width: 150px;
	line-height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 10px;
	color: #008cd7;
	border: 1px solid #008cd7;
	text-align: center;
	border-radius: 999px;
	transition: .3s;
}
.searchLine a:focus,
.searchLine a:hover{
	background-color: #008cd7;
	color: #ffffff;
	text-decoration: none;
}
@media screen and (max-width:767px){
	.searchLine{
		padding: 0 0 15px 0;
	}
	.searchLine a{
		position: relative;
	}
}
/* 顯示搜尋結果-mobile */
.mobile-searchLine{
	width: 100%;
    height: auto;
	background-color: #ececec;
	padding: 5px;
	display: block;
}
.mobile-searchLine a{
	width: 100%;
	line-height: 30px;
    height: auto;
	display: inline-block;
	overflow : hidden;
    text-overflow:ellipsis;
	white-space : nowrap;
	color: #008cd7;
	transition: .3s;
	padding: 0;
}
.mobile-searchLine a:focus,
.mobile-searchLine a:hover{
	color: #771a7a;
	text-decoration: none;
}




/* Date Picker Mobile*/
@media screen and (max-width: 767px) {
    .chooseDate {
        position:relative !important;
        width: 100% !important;
        left: 0 !important;
        top: 0px !important;
        height: auto !important;
    }

    .chooseDate::after, .chooseDate::before {
        content: "";
        border: none !important;
    }

    .datepicker, .datepickerContainer {
        position: relative !important;
        width: 100% !important;
        text-align: center;
        height: auto !important;
        background: rgba(0,0,0,0) !important;
        top: auto !important;
        left: auto !important;
        margin-bottom: 35px;
    }

    .datepickerSpace {
        display: none;
    }

    .datepickerContainer>table>tbody>tr>td {
        display: block !important;
    }
}




/* 搜尋條件 */
.searchCriteria{
	min-width: 100%;
	z-index: 50;
	display: none;
	box-shadow: 0px 10px 20px #c7c7c7;
	/* margin-left: -15px; */
	/* margin-right: -15px; */
	background-color: #ffffff;
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.search-checkbox{
	font-size: 20px;
	font-weight: bold;
	margin-right: 20px;
}
.searchCriteriaList{
	border: 1px solid #bbbbbb;
	margin-bottom: 15px;
	padding: 0 10px;
	display: block;
}
.searchCriteriaListItem{
	width: 100%;
	display: block;
	line-height: 30px;
	padding: 15px 0;
}
.searchCriteriaListItem+.searchCriteriaListItem{
	border-top: 1px solid #bbbbbb;
}
.searchCriteriaListItem a{
	padding: 0 10px;
	margin: 0 5px;
	display: inline-block;
	color: #333333;
	border-radius: 5px;
}
.searchCriteriaListItem a.active,
.searchCriteriaListItem a:focus,
.searchCriteriaListItem a:hover{
	background-color: #ad6caa;
	color: #ffffff;
	text-decoration: none;
}
@media screen and (max-width:767px){
	.searchCriteriaListItem span{
		display: block;
	}
	.searchCriteriaListItem a{
		margin-bottom: 5px;
	}
}
.research{
	font-size: 20px;
	line-height: 30px;
	padding: 15px;
	display: inline-block;
	background-color: #ffd200;
    color: #771a7a;
	font-weight: bold;
	border-radius: 5px;
	transition: .3s;
    border: none;
}
.research:focus,
.research:hover{
	text-decoration: none;
	opacity: .8;
	color: #ffffff;
    background:#771a7a;
}
.cancelSearch{
	font-size: 20px;
	line-height: 30px;
	padding: 15px;
	display: inline-block;
	color: #333333;
	border-radius: 5px;
}
.cancelSearch:focus,
.cancelSearch:hover{
	text-decoration: none;
	color: #771a7a;
	font-weight: bold;
}

/* 目的地選擇 */
.chooseDestination{
	width: 660px;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	position: absolute;
	top: 80px;
	left: 15px;
	padding: 15px;
	z-index: 50;
	display: none;
}
.chooseDestination:before{
	content: '';
	border-bottom: 15px solid #bbbbbb;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	top: -15px;
	left: 50px;
}
.chooseDestination:after{
	content: '';
	border-bottom: 14px solid #ffffff;
	border-right: 14px solid transparent;
	border-left: 14px solid transparent;
	position: absolute;
	top: -14px;
	left: 51px;
}
.chooseDestination-item .nav{
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
}
.chooseDestination-item .nav>li>a{
	padding: 5px 8px 0;
	color: #000000;
	border-radius: 0;
}
.chooseDestination-item .nav>li>a:hover{
	background-color: #f4ecf5;
}
.chooseDestination-item .nav>li.active a{
	border: none;
	border-bottom: 5px solid #ac6da6;
	color: #771a7a;
}
.destination-arrow:after{
	content: '';
	display: inline-block;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 8px solid #ad6aad;
	position: absolute;
	top: 5px;
	right: 0;
}
.destination-ul{
	padding: 0;
	list-style: none;
}
.destination-ul li a{
	color: #000000;
	border-radius: 5px;
	padding: 1px;
	transition: .3s;
}
.destination-ul li a:focus,
.destination-ul li a:hover{
	background-color: #f4ecf5;
	text-decoration: none;
}
.destination-close{
	position: absolute;
	top: 8px;
	right: 8px;
	color: #666666;
}
.destination-close:focus,
.destination-close:hover{
	color: #771a7a;
}



/* 出發區間選擇 */
.chooseDate{
	width: 460px;
    height:270px;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	position: absolute;
	top: 80px;
	left: 15px;
	padding: 0px;
	z-index: 50;
	display: none;
}
.chooseDate:before{
	content: '';
	border-bottom: 15px solid #bbbbbb;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	position: absolute;
	top: -15px;
	left: 50px;
}
.chooseDate:after{
	content: '';
	border-bottom: 14px solid #ffffff;
	border-right: 14px solid transparent;
	border-left: 14px solid transparent;
	position: absolute;
	top: -14px;
	left: 51px;
}
/*.choose-date-table:first-child{
	padding-right: 1px;
}
.choose-date-table:last-child{
	padding-left: 1px;
}*/
.choose-date-table table{
	width: 100%;
	text-align: center;
}
.choose-date-table table>thead>tr>th{
	background-color: #f4f4f4;
	text-align: center;
	padding: 3px 0;
}
.choose-date-table table>thead>tr:first-child>th{
	padding-top: 10px;
}
.choose-date-table table>tbody>tr>td{
	padding: 4px;
}
.choose-date-table table>tbody>tr>td a{
	display: block;
}
.choose-date-table table>tbody>tr>td a:focus,
.choose-date-table table>tbody>tr>td a:hover{
	text-decoration: none;
}
.choose-date-table table>tbody>tr>td.cantchoose a{
	color: #bbbbbb;
}
.choose-date-table table>tbody>tr>td.normal,
.choose-date-table table>tbody>tr>td.normal a{
	color: #000000;
	background-color: #fdeeff;
}
.choose-date-table table>tbody>tr>td.normal a:hover{
	color: #771a7a;
}
.choose-date-table table>tbody>tr>td.choose,
.choose-date-table table>tbody>tr>td.choose a{
	color: #000000;
	background-color: #ffd200;
}
.chooseDate .pager{
	width: 100%;
	position: absolute;
	top: -15px;
}
.chooseDate .pager>li>a{
	background-color: transparent;
	border: none;
	color: #999999;
}
.chooseDate .pager>li>a:focus,
.chooseDate .pager>li>a:hover{
	color: #771a7a;
}

.chooseDate .date-btn{
	width: 100%;
	height: 30px;
	margin: 5px 0;
	padding:5px;
	position: absolute;
    left:0;
    bottom:0;
	border-top: 1px solid #dddddd;
}
.chooseDate .date-btn a{
	color: #999999;
}
.chooseDate .date-btn a:focus,
.chooseDate .date-btn a:hover{
	color: #771a7a;
}
.chooseDate .date-btn .date-close{
	position: absolute;
	left: 10px;
}
.chooseDate .date-btn .date-check{
	position: absolute;
	right: 10px;
}



/* New datepicker CSS */
#widgetCalendar .datepickerContainer>table>tbody>tr>td:first-child .datepickerGoPrev>a>span{
	color: #999999;
}
#widgetCalendar .datepickerContainer>table>tbody>tr>td:first-child .datepickerGoPrev>a:focus>span,
#widgetCalendar .datepickerContainer>table>tbody>tr>td:first-child .datepickerGoPrev>a:hover>span{
	color: #771a7a;
}
#widgetCalendar .datepickerContainer>table>tbody>tr>td:first-child .datepickerGoNext>a>span{
	display: none;
}
#widgetCalendar .datepickerContainer>table>tbody>tr>td:last-child .datepickerGoNext>a>span{
	color: #999999;
}
#widgetCalendar .datepickerContainer>table>tbody>tr>td:last-child .datepickerGoNext>a:focus>span,
#widgetCalendar .datepickerContainer>table>tbody>tr>td:last-child .datepickerGoNext>a:hover>span{
	color: #771a7a;
}
#widgetCalendar .datepickerContainer>table>tbody>tr>td:last-child .datepickerGoPrev>a>span{
	display: none;
}

#widgetCalendar .datepickerContainer>table tbody.datepickerDays>tr>td,
#widgetCalendar .datepickerContainer>table tbody.datepickerDays>tr>td>a{
	color: #000000;
	background-color: #fdeeff;
}
#widgetCalendar .datepickerContainer>table tbody.datepickerDays>tr>td.datepickerSelected,
#widgetCalendar .datepickerContainer>table tbody.datepickerDays>tr>td.datepickerSelected>a{
	color: #000000;
	background-color: #ffd200;
}
#widgetCalendar .datepickerContainer>table tbody.datepickerDays>tr>td.datepickerNotInMonth,
#widgetCalendar .datepickerContainer>table tbody.datepickerDays>tr>td.datepickerNotInMonth>a{
	color: #bbbbbb;
	background-color: transparent;
}










/* 詳細搜尋條件-mobile */
.searchCriteria-mobiel{
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	padding: 0;
	overflow: auto;
	background-color: #ffffff;
	display: none;
}
.searchCriteria-mobiel-title{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #771a7a;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	position: relative;
	font-weight: bold;
}
.searchCriteria-mobiel-title a{
	position: absolute;
	left: 15px;
	top: 0;
	color: #ffffff;
}
.searchCriteria-mobiel-block{
	width: 100%;
	padding: 5px 10px;
}
.searchCriteria-mobiel .searchCriteriaList{
	padding: 0;
}
.searchCriteria-mobiel .searchCriteriaList .searchCriteriaListItem{
	padding: 10px;
}
.searchCriteria-mobiel .research{
	width: 100%;
	border-radius: 0;
	text-align: center;
}


/* 詳細搜尋條件-目的地-mobile */
.mobile-destination{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	overflow: auto;
	background-color: #ffffff;
	display: none;
	z-index: 800;
}
.searchCriteria-mobiel-title2{
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #771a7a;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	position: relative;
	font-weight: bold;
}
.searchCriteria-mobiel-title2 a{
	position: absolute;
	right: 30px;
	top: 0;
	color: #ffffff;
}
.mobile-destination-title{
	width: 100%;
	display: block;
	background-color: #771a7a;
	padding: 10px 25px 10px 10px;
	position: relative;
}
.mobile-destination-title input{
	height: 45px;
	padding-left: 80px;
	font-size: 16px;
}
.mobile-destination-title input:focus{
	border: 1px solid #771a7a;
}
.mobile-destination-title span{
	position: absolute;
	top: 21px;
	left: 25px;
	font-size: 16px;
	color: #999999;
}
.mobile-destination-title a{
	position: absolute;
	top: 21px;
	right: 40px;
	font-size: 20px;
	color: #999999;
}
.mobile-destination-list{
	background-color: #f4f4f4;
	height: calc(100vh - 130px);
	margin-top: 1px;
}
.mobile-destination-list>div:last-child{
	background-color: #ffffff;
	height: 100%;
	padding-top: 10px;
}
.mobile-destination-list .nav>li{
	width: 100%;
	padding: 0;
}
.mobile-destination-list .nav>li:first-child>a{
	border-top: none;
}
.mobile-destination-list .nav>li>a{
	padding: 5px;
	width: 100%;
	background-color: #f4f4f4;
	color: #999999;
	border: 1px solid #dddddd;
	border-left:none; 
	border-radius: 0;
	line-height: 30px;
}
.mobile-destination-list .nav>li>a:focus,
.mobile-destination-list .nav>li>a:hover{
	color: #771a7a;
}
.mobile-destination-list .nav>li.active>a{
	background-color: #ffffff;
	color: #771a7a;
	border-right: none;
}
.mobile-destination-list .tab-content .destination-arrow{
	position: relative;
	margin-left: 10px;
	top: -3px;

}
/* 詳細搜尋條件-目的地關鍵字-mobile */
.mobile-destination2{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	overflow: auto;
	background-color: #ffffff;
	display: none;
	z-index: 1000;
}
.mobile-destination-keyword{
	width: 100%;
	height: calc(100vh - 130px);
	overflow: auto;
}
.mobile-destination-keyword ul{
	padding: 0;
	list-style: none;
}
.mobile-destination-keyword ul li a{
	width: 100%;
	height: 100%;
	padding: 10px;
	display: block;
	color: #333333;
}
.mobile-destination-keyword ul li a:focus,
.mobile-destination-keyword ul li a:hover{
	background-color: #f4ecf5;
	text-decoration: none;
}




/* 詳細搜尋條件-Date-mobile */
.mobile-chooseDate{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	overflow: auto;
	background-color: #ffffff;
	display: none;
	z-index: 800;
}
.mobile-chooseDate-title{
	width: 100%;
	display: block;
	background-color: #771a7a;
	padding: 10px 25px 10px 10px;
	position: relative;
}
.mobile-chooseDate-title input{
	height: 45px;
	font-size: 16px;
}
.mobile-chooseDate-table{
	width: 100%;
}
.mobile-chooseDate-table table{
	width: 100%;
	text-align: center;
	border: 1px solid #ffffff;
}
.mobile-chooseDate-table table>thead>tr>th{
	background-color: #f4f4f4;
	text-align: center;
}

.mobile-chooseDate-table table>thead>tr>th,
.mobile-chooseDate-table table>tbody>tr>td{
	padding: 5px;
	line-height: 30px;
}
.mobile-chooseDate-table table>tbody>tr>td a{
	color: #333333;
}
 .mobile-chooseDate-table table>tbody>tr>td.cantchoose a{
	color: #bbbbbb;
} 
.mobile-chooseDate-table table>tbody>tr>td.datepickerNotInMonth>a{
	color: #bbbbbb;
} 
.mobile-chooseDate-table table>tbody>tr>td.normal{
	color: #333333;
	background-color: #f4ecf5;
}
.mobile-chooseDate-table table>tbody>tr>td.normal a{
	color: #333333;
	background-color: #f4ecf5;
} .mobile-chooseDate-table table>tbody>tr>td.choose{
	color: #333333;
	background-color: #ffd200;
}
.mobile-chooseDate-table table>tbody>tr>td.choose a{
	color: #333333;
	background-color: #ffd200;
}

.mobile-chooseDate-table table>tbody>tr>td.datepickerSelected{
	color: #333333;
	background-color: #ffd200;
}
.mobile-chooseDate-table table>tbody>tr>td.datepickerSelected a{
	color: #333333;
	background-color: #ffd200;
}























/* 搜尋排序 */
.conditions{
	position: relative;
	padding-right: 100px;
}
.conditions .numberOfSearches{
	font-size: 18px;
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 8px;
}
@media screen and (max-width:767px){
	.conditions{
		padding-right: 0px;
	}
	.conditions .numberOfSearches{
		position: relative;
		display: block;
	}
}
.conditions .updown{
	line-height: 21px;
	padding: 10px 0;
	font-size: 18px;
	margin-right: 10px;
	display: inline-block;
}
.conditions .updown a{
	color: #333333;
}
.conditions .updown.active a{
	color: #771a7a;
}
.conditions .updown span{
	width: 12px;
	height: 21px;
	display: inline-block;
	background-image: url('images/updown.png');
	background-repeat: no-repeat;
	background-position: -12px 0;
	top: 2px;
	position: relative;
}
.conditions .updown span.up{
	background-position: 0 0;
}
.conditions .updown span.down{
	background-position: -24px 0;
}















/* 搜尋結果列表 */
.searchResultsList{
	width: 100%;
	margin: 10px 0;
}
.star-searchResultsItem{
	display: block;
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	position: relative;
	transition: .3s;
	margin-bottom: 10px;
    height: auto;
}
.star-searchResultsItem:hover{
	border-color: #771a7a;
	border-bottom: 6px solid #771a7a;
}













/* 搜尋結果右邊 */
.star-searchResultsItemRight{
	
	padding: 40px;
    height: 100%;
}
.star-searchResultsItemRight h1{
	font-size: 48px;
	color: #771a7a;
	font-style: italic;
	margin: 10px 0;
}
.star-searchResultsItemRight h1 small{
	font-size: 30px;
	color: #771a7a;
}
.star-searchResultsItemRight h2{
	font-size: 30px;
	font-weight: 800;
	color: #ff4200;
	margin: 5px 0;
}
.star-searchResultsItemRight p,
.star-searchResultsItemRight p a{
	color: #999999;
	transition: .3s;
}
.star-searchResultsItemRight p a:focus,
.star-searchResultsItemRight p a:hover{
	color: #771a7a;
}
.star-searchResultsItemRight ul{
	color: #771a7a;
	padding-left: 20px;
}
.star-searchResultsItemRight .viewItinerary{
	width: 100%;
	text-align: center;
	display: block;
	line-height: 60px;
	border-radius: 5px;
	background-color: #ffd200;
	color: #771a7a;
	font-weight: bold;
	position: relative;
	font-size: 20px;
	margin: 5px 0;
	transition: .3s;
}
.star-searchResultsItemRight .viewItinerary:focus,
.star-searchResultsItemRight .viewItinerary:hover{
	text-decoration: none;
	background-color: #771a7a;
	color: #ffffff;
}
@media screen and (max-width:767px){
	.star-searchResultsItemRight{
		width: 100%;
		border-left: none;
		padding-left: 30px;
	}
	.star-searchResultsItemRight:before{
		content: '';
		width: calc(100% - 30px);
		height: 1px;
		position: absolute;
		top: 0;
		left: 15px;
		border-top: 1px solid #bbbbbb;
	}
}









/* 詳細頁面-手機版月曆表 */
.list-style {
    padding: 10px;
    font-size: 1rem;
}
.list-style > .date {
    color: #333;
    border-right: #ccc solid 2px;
    padding: 10px 15px 10px 0px;
    border-radius: 7px;
    margin-right: 20px;
}
.list-style:not(:first-child) {
    border-top: #ccc 1px solid;
}
.list-style .float-right {
    float: right;
}






/* 搜尋結果左邊 */
.star-searchResultsItemLeft{
	padding: 10px 10px 10px 50px;
    border-right: 1px solid #bbbbbb;
}
.star-searchResultsItemLeft .number{
	width: 50px;
	height: 65px;
	position: absolute;
	left: 15px;
	top: 0;
	background-image: url('images/searchCorner.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.star-searchResultsItemLeft .number span{
	position: absolute;
	top: 5px;
	left: 10px;
	color: #ffffff;
}
.star-searchResultsItemLeft h3{
	font-weight: bold;
}
.star-searchResultsItemLeft h3 a{
	color: #000000;
	transition: .2s;
}
.star-searchResultsItemLeft h3 a:focus,
.star-searchResultsItemLeft h3 a:hover{
	color: #771a7a;
	text-decoration: none;
}
@media screen and (max-width:767px){
	.star-searchResultsItemLeft{
		padding: 10px 50px 10px 50px;
	}

}
.star-list a{
	color: #771a7a;
	transition: .3s;
}
.star-list a:focus,
.star-list a:hover{
	text-decoration: none;
	background-color: #eee4ee;
}
.star-list a.ensure{
	padding: 4px;
	background-color: #ff9c00;
	border-radius: 3px;
	color: #ffffff;
}
.star-list a.ensure:focus,
.star-list a.ensure:hover{
	opacity: .8;
}
.star-list a.event{
	padding: 4px;
	background-color: #00cecc;
	border-radius: 3px;
	color: #ffffff;
}
.star-list a.event:focus,
.star-list a.event:hover{
	opacity: .8;
}
.more-date{
	text-align: center;
}
.more-date a{
	color: #771a7a;
	margin: 0 8px 0 5px;
	transition: .3s;
}
.more-date a:focus,
.more-date a:hover{
	text-decoration: none;
	background-color: #eee4ee;
}
.more-date a.more-date-more{
	color: #008cd7;
	text-decoration: underline;
	font-weight: bold;
	margin: 0;
	padding: 1px 3px;
	border-radius: 3px;
}
.more-date a.more-date-more2{
	color: #008cd7;
	font-weight: bold;
	margin: 0;
	padding: 1px 3px;
	border-radius: 3px;
}
.more-date a.more-date-more2:focus,
.more-date a.more-date-more2:hover,
.more-date a.more-date-more:focus,
.more-date a.more-date-more:hover{
	background-color: #008cd7;
	color: #ffffff;

}
.star-searchResultsItemLeft-img{
	padding-bottom: 75%;
	width: 100%;
	overflow: hidden;
	display: block;
	position: relative;
}
.star-searchResultsItemLeft-img>img{
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
}









/* 搜尋結果-mobile */
.star-searchResultsItem-mobile{
	width: 100%;
	padding: 5px 10px 0px;
	border-bottom: 3px solid #c7bcd1;
}
.star-searchResultsItem-mobile h4{
	line-height: 24px;
	font-size: 16px;
}
.star-searchResultsItem-mobile h4 a{
	color: #000000;
}

.star-searchResultsItem-mobile h4 a:focus,
.star-searchResultsItem-mobile h4 a:hover{
	color: #771a7a;
	text-decoration: none;
}
.star-searchResultsItem-mobile-img{
	position: relative;
}
.star-searchResultsItem-mobile-img img{
	width: 100%;
}
.star-searchResultsItem-mobile-img span{
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, .8);
	display: block;
	text-align: center;
	line-height: 20px;
	position: absolute;
	top: 10px;
	left: 20px;
}
.star-searchResultsItem-mobile-textR h1{
	font-size: 48px;
	color: #771a7a;
	font-style: italic;
	margin: 10px 0;
}
.star-searchResultsItem-mobile-textR h1 small{
	font-size: 30px;
	color: #771a7a;
}
.star-searchResultsItem-mobile-textR ul{
	color: #771a7a;
	padding-left: 20px;
}

.star-searchResultsItem-mobile-date01{
	line-height: 40px;
	overflow: hidden;
	width: 80%;
	white-space : nowrap;
}
.star-searchResultsItem-mobile-date01+a{
	color: #007cbf;
	text-decoration: underline;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 10px;
	transition: .3s;
	border-radius: 5px;
}
.star-searchResultsItem-mobile-date01+a:focus,
.star-searchResultsItem-mobile-date01+a:hover{
	background-color: #007cbf;
	color: #ffffff;
}
.star-searchResultsItem-mobile-price{
	background-color: #f4ecf5;
	color: #000000;
}
.star-searchResultsItem-mobile-price h2{
	font-weight: 800;
	font-size: 28px;
}
.star-searchResultsItem-mobile-price h2 small{
	color: #000000;
}
.star-searchResultsItem-mobile-viewItinerary{
	width: 100%;
	height: 50px;
	line-height: 50px;
	display: block;
	background-color: #ffd200;
	color: #771a7a;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 20px 0; 
}
.star-searchResultsItem-mobile-viewItinerary:focus,
.star-searchResultsItem-mobile-viewItinerary:hover{
	background-color: #771a7a;
	color: #ffd200;
	text-decoration: none;
}







/* 第一種-左右選 */
.abgne-star-carousel {
	width: 100%;
	display: inline-block;
	height: 200px;
	position: relative;
}
.abgne-star-carousel * {
	margin: 0;
	padding: 0;
}
.abgne-star-carousel ul, .abgne-star-carousel li {
	list-style: none;
}
.abgne-star-carousel .star-btn {
	width: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
}
.abgne-star-carousel .star-btn a {
	width: 24px;
	height: 100%;
	display: inline-block;
	position: absolute;
	background-color: #bbbbbb;
	color: #ffffff;
	transition: .3s;
	text-align: center;
}
.abgne-star-carousel .star-btn a:focus,
.abgne-star-carousel .star-btn a:hover {
	background-color: #771a7a;
}
.abgne-star-carousel .star-btn a i{
	display: block;
	position: absolute;
	top: 90px;bottom: 0;
	left: 0;right: 0;
	margin: auto;
}
.abgne-star-carousel .star-btn a.prev {
	top: 0;
	left: 0;
}
.abgne-star-carousel .star-btn a.next {
	top: 0;
	right: 0;
}
.abgne-star-carousel .frame {
	position: absolute;
	top: 0;
	left: 150px;
	overflow: hidden;
	width: calc(100% - 180px);
	height: 100%;
	outline: 1px solid #bbbbbb;
}
.abgne-star-carousel ul {
	width: 90000px;
	font-size: 0;
	position: absolute;
	transition: .3s;
}
.abgne-star-carousel li {
	width: 280px;
	height: 200px;
	position: relative;
	display: inline-block;
	font-size: 16px;
}
.abgne-star-carousel li div{
	width: 100%;
	height: 33.33333%;
	padding: 10px;
	outline: 1px solid #bbbbbb;
}
.star-list-title{
	width: 120px;
	height: 100%;
	margin-left: 30px;
}
.star-list-title>div{
	height: 33.333333%;
	text-align: center;
	font-size: 16px;
	line-height: 46px;
	outline: 1px solid #bbbbbb;
}

@media screen and (max-width:767px){
	.star-list-title{
		width: 70px;
		margin-left: 30px;
	}
	.abgne-star-carousel .frame {
		position: absolute;
		top: 0;
		left: 100px;
		overflow: hidden;
		width: calc(100% - 130px);
		height: 100%;
		outline: 1px solid #bbbbbb;
	}
	.abgne-star-carousel li {
		width: 280px;
	}
}














/* 第2種-日期排序 */
.dateSort{
	width: 100%;
	height: 140px;
	margin-bottom: 10px;
	border: 1px solid #bbbbbb;
}
.dateSort .dateSort-departure{
	background-color: #dcdcdc;
	color: #771a7a;
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	padding: 0 10px;
}
.dateSort .dateSort-date{
	height: 108px;
	padding: 0 10px;
	clear: left;
	overflow-x: auto;
}
.dateSort .dateSort-date a{
	display: inline-block;
	/* outline: 1px solid #f00; */
	height: 45px;
	float: left;
	line-height: 20px;
	padding: 0 8px;
	position: relative;
	color: #771a7a;
	border-bottom: 1px solid #999999;
	margin-top: 10px;
}
.dateSort .dateSort-date a:after{
	content: '│';
	position: absolute;
	top: 0;
	right: -5px;
	color: #999999;
}
.dateSort .dateSort-date a:focus,
.dateSort .dateSort-date a:hover{
	text-decoration: none;
	font-weight: bold;
}
@media screen and (max-width:767px){
	.dateSort .dateSort-date{
		padding: 0 5px;
	}
	.dateSort .dateSort-date a{
		padding: 0 5px;
	}
}


/* 載入更多 */
.mobile-loadmore{
	width: 100%;
	height: 100px;
	line-height: 100px;
	color: #999999;
	text-align: center;
}
.conditions-moblie{
	text-align: center;
	background-color: #efefef;
	margin: 5px 0;
}












/* 行程介紹頁================================================================== */
/* 麵包屑 */
.path .breadcrumb{
	background-color: transparent;
	font-size: 14px;
	padding: 0;
}
.path .breadcrumb>li a{
	color: #666666;
	transition: .3s;
}
.path .breadcrumb>li a:focus,
.path .breadcrumb>li a:hover{
	color: #771a7a;
	background-color: #eee4ee;
	text-decoration: none;
}
.path .breadcrumb>li.active{
	font-weight: 800;
}
.path .breadcrumb>li+li:before{
	content: '>';
	color: #666666;
	font-weight: normal;
}




/* 團號按鈕 */
.groupNum{
	font-size: 18px;
	line-height: 30px;
	color: #333333;
	margin-bottom: 10px;
}
.groupNum .shareIcon{
	width: 101px;
	height: 30px;
	float: right;
	display: inline-block;
}
.groupNum .shareIcon a{
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
}
.groupNum .shareIcon a.icon-fb{
	background-image: url('images/icon_facebook.png');
}

.groupNum .shareIcon a.icon-line{
	background-image: url('images/icon_line.png');
}
.groupNum .shareIcon a.icon-print{
	background-image: url('images/icon_print.png');
}
@media screen and (max-width:767px){
	.groupNum{
		font-size: 16px;
		color: #999999;
		margin-bottom: 0px;
	}
}
@media screen and (max-width:400px){
	.groupNum .shareIcon{
		float: none;
		display: block;
	}
}







/* 行程介紹文字 */
.travelInformation{
	margin-bottom: 20px;
}
.travelInformation .travelInformation-img{
	width: 100%;
}
.travelInformation .travelTitle{
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}
.travelInformation .travel-price{
	font-size: 34px;
	font-weight: 800;
	line-height: 40px;
	color: #ff4200;
}
.travelInformation a.price-info{
	color: #008cd7;
	text-decoration: underline;
	transition: .3s;
}
.travelInformation a.price-info:focus,
.travelInformation a.price-info:hover{
	background-color:#008cd7;
	color: #ffffff;
	text-decoration: none; 
}
.travelInformation .signUpBtn{
	width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	background-color: #ff4200;
	line-height: 80px;
	border-radius: 5px;
	color: #ffffff;
	transition: .3s;
}
.travelInformation .signUpBtn:focus,
.travelInformation .signUpBtn:hover{
	text-decoration: none;
	background-color: #771a7a;
}
.travelInformation .travelInformation-more-mobile{
	width: 100%;
	height: 100px;
	padding-top: 60px;
	line-height: 40px;
	text-align: center;
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
	background-image:-o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
	background-image:-ms-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
	background-image:-moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
}
.travelInformation .travelInformation-more-mobile>a{
	color: #007cbf;
	text-decoration: underline;

}
@media screen and (max-width:767px){
	.travelInformation{
		height: 600px;
		overflow: hidden;
		position: relative;
		transition: .3s;
	}
	.travelInformation .travelInformation-more-mobile{
		display: block;
	}
	.travelInformation .travelInformation-img{
		margin-left: -5px;
		margin-right: -5px;
		width: calc(100% + 10px);
	}
}















.travel-3block{
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	padding: 10px 0;
}
.travel-3block .travel-3block-img{
	width: 100px;
	height: 100px;
	display: inline-block;
	float: left;
	transition: .3s;
}
.travel-3block .travel-3block-text{
	display: inline-block;
	float: left;
}
.travel-3block a.price-info{
	color: #008cd7;
	text-decoration: underline;
	transition: .3s;
}
.travel-3block a.price-info:focus,
.travel-3block a.price-info:hover{
	background-color:#008cd7;
	color: #ffffff;
	text-decoration: none; 
}
.travel-3block a.event{
	padding: 2px 4px;
	background-color: #00cecc;
	border-radius: 3px;
	color: #ffffff;
	border-radius: 3px;
	display: inline-block;
}
.travel-3block a.event:focus,
.travel-3block a.event:hover{
	opacity: .8;
	text-decoration: none;
}
@media screen and (max-width:900px){
	.travel-3block .travel-3block-img{
		width: 50px;
		height: 50px;
		margin-top: 18px;
	}
}











/* 行程日曆 */
.travel-calendar-btn{
	text-align: center;
}
.travel-calendar-btn a{
	width: auto;
	display: block;
}
.travel-calendar-btn a span{
	display: none;
}
.travel-calendar-btn a img{
	max-width: 100%;
}
@media screen and (max-width:767px){
	.travel-calendar-btn a img{
		display: none;
	}
	.travel-calendar-btn a span{
		width: 90%;
		display: block;
		line-height: 40px;
		font-size: 18px;
		padding: 10px;
		text-decoration: underline;
		background-color: #771a7a;
		color: #ffffff;
		border-radius: 10px;
		margin: 10px 0 10px 5%;
	}
}


.travel-calendar-close{
	margin: 20px 0 10px;
	text-align: center;
}
.travel-calendar-close a{
	display: inline-block;
	padding: 5px;
	color: #0082c8;
	text-decoration: underline;
	border-radius: 5px;
	transition: .3s;
}
.travel-calendar-close a span{
	width: 0;
	margin-left: 5px;
	display: inline-block;
	border-bottom: 8px solid #0082c8;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	transition: .3s
}
.travel-calendar-close a:focus,
.travel-calendar-close a:hover{
	background-color: #0082c8;
	color: #ffffff;
	text-decoration: none;
}
.travel-calendar-close a:focus span,
.travel-calendar-close a:hover span{
	border-bottom: 8px solid #ffffff;
}
.travel-calendar{
	width: 100%;
	margin-top: 20px;
	display: none;
}
.travel-calendar table{
	border: 1px solid #dddddd;
}
.travel-calendar table>thead>tr>th{
	background-color: #f1f1f1;
	border-bottom: 0px solid transparent;
	border-top: 0px solid transparent;
	text-align: center;
}
.travel-calendar table>thead>tr>th.month{
	color: #771a7a;
	font-size: 20px;
	position: relative;
}
.travel-calendar table>thead>tr>th.month a{
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	top: 5px;
	color: #771a7a;
}
.travel-calendar table>thead>tr>th.month a.month-prev{
	left: 0;
}
.travel-calendar table>thead>tr>th.month a.month-next{
	right: 0;
}
.travel-calendar table>tbody>tr>td{
	border: 1px solid #dddddd;
	height: 100px;
	position: relative;
}
.travel-calendar table>tbody>tr>td .date{
	color: #dddddd;
	display: block;
	font-size: 14px;
	line-height: 20px;
}
.travel-calendar table>tbody>tr>td .date.active{
	color: #000000;
}
.travel-calendar table>tbody>tr>td .price{
	display: block;
	text-align: right;
	font-size: 18px;
	color: #ff4200;
}
.travel-calendar table>tbody>tr>td .quota{
	display: block;
	text-align: right;
	font-size: 14px;
}
.travel-calendar table>tbody>tr>td .more{
	display: block;
	color: #008cd7;
	text-decoration: underline;
	text-align: right;
	border-radius: 3px;
	transition: .3s;
}
.travel-calendar table>tbody>tr>td .more:focus,
.travel-calendar table>tbody>tr>td .more:hover{
	background-color: #008cd7;
	color: #ffffff;
	text-decoration: none;
}






















/* 行程介紹選單 */
.travel-innerMenu{
	border-bottom: 2px solid #cccccc;
	line-height: 50px;
}
.travel-innerMenu a{
	display: inline-block;
	font-size: 20px;
	color: #000000;
	padding: 5px 10px;
	font-weight: bold;
}
.travel-innerMenu a:focus,
.travel-innerMenu a:hover{
	color: #771a7a;
	text-decoration: none;
}
@media screen and (max-width:500px){
	.travel-innerMenu{
		line-height: 30px;
	}
	.travel-innerMenu a{
		font-size: 18px;
		padding: 2px 5px;
	}
}


.travel-innerMenu-fixed{
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	position: fixed;
	top: -150px;
	left: 0;
	border-bottom: 2px solid #cccccc;
	display: block;
}
.travel-innerMenu-fixed .nav{
	border-bottom: none;
}
.travel-innerMenu-fixed .nav>li{
	margin-bottom: 0;
}
.travel-innerMenu-fixed .nav>li>a{
	font-size: 20px;
	color: #000000;
	line-height: 34px;
	padding: 10px 10px;
	font-weight: bold;
	border: none;
}
.travel-innerMenu-fixed .nav>li>a:focus,
.travel-innerMenu-fixed .nav>li>a:hover{
	color: #771a7a;
	text-decoration: none;
	background-color: transparent;
}
.travel-innerMenu-fixed .nav>li.active>a{
	border: none;
	border-bottom: 5px solid #771a7a;
}
.travel-innerMenu-fixed input.travel-innerMenu-fixed-signUpBtn{
	font-size: 24px;
	padding: 10px 20px;
	border-radius: 5px;
	display: block;
	font-weight: bold;
	position: absolute;
	top: 5px;
	right: 0;
	background-color: #ff4200;
	color: #ffffff;
	transition: .3s;
	border: none;
	width: 160px;
	text-align: center;
}
.travel-innerMenu-fixed input.travel-innerMenu-fixed-signUpBtn:focus,
.travel-innerMenu-fixed input.travel-innerMenu-fixed-signUpBtn:hover{
	background-color: #771a7a;
}



@media screen and (max-width:500px){
	.travel-innerMenu-fixed a{
		font-size: 18px;
		padding: 2px 5px;
		line-height: 30px;
	}
	.travel-innerMenu-fixed a.travel-innerMenu-fixed-signUpBtn{
		position: relative;
		font-size: 18px;
		line-height: 30px;
		top: 0px;
	}
}
/* @media screen and (max-width:900px){
	.travel-innerMenu-fixed a.active{
		border-bottom: 0px solid transparent;
	}
}
 */






/* 行程區塊 */
.travel-block{
	background-color: #ffffff;
	margin: 10px 0 0;
	padding: 15px;
}

/* 手機版 */
.travel-panel{
	display: none;
}
@media screen and (max-width:767px){
	.travel-panel{
		display: block;
		margin-bottom: 0;
	}
}
.travel-panel .panel-default{
	width: calc( 100% + 10px);
	margin-left: -5px;
	margin-right: -5px;
	border-radius: 0;
	border: none;
	border-bottom: 5px solid #ffffff;
}
.travel-panel .panel-default>.panel-heading{
	background-color: #f4ecf5;
	border-radius: 0;
	padding: 0;
}
.travel-panel .panel-default>.panel-heading a{
	width: 100%;
	padding: 15px;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #771a7a;
	position: relative;
}
.travel-panel .panel-default>.panel-heading a:focus,
.travel-panel .panel-default>.panel-heading a:hover{
	text-decoration: none;
}
.travel-panel .panel-default>.panel-heading a span{
	position: absolute;
	right: 10px;
}

.travel-panel .panel-default>.panel-heading a[aria-expanded=true] span i.glyphicon-chevron-down{
	display: none;
}
.travel-panel .panel-default>.panel-heading a[aria-expanded=false] span i.glyphicon-chevron-down{
	display: inline-block;
}
.travel-panel .panel-default>.panel-heading a[aria-expanded=true] span i.glyphicon-chevron-up{
	display: inline-block;
}
.travel-panel .panel-default>.panel-heading a[aria-expanded=false] span i.glyphicon-chevron-up{
	display: none;
}
.travel-panel .panel-default>.panel-heading+.panel-collapse>.panel-body{
	border: none;
}



/* 形成特色 */
.travel-characteristics-text img{
	width: 100%;
	margin-bottom: 20px;
}

/* 自費項目 */
.travel-optional{
	border: 1px solid #bbbbbb;
	padding: 0 10px;
}
.travel-optional .travel-optional-title{
	font-size: 20px;
	line-height: 50px;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
}
.travel-optional .travel-optional-content{
	padding: 0 20px;
}
.travel-optional-info{
	display: inline-block;
	padding: 0 4px;
	color: #0082c8;
	text-decoration: underline;
	border-radius: 5px;
	transition: .3s;
}
.travel-optional-info:focus,
.travel-optional-info:hover{
	background-color: #0082c8;
	color: #ffffff;
	text-decoration: none;
}

/* 交通資訊 */
.travel-traffic-img{
	text-align: center;
}
.travel-traffic-img img{
	max-width: 100%;
	margin-top: 10px;
}
@media screen and (max-width:767px){
	.travel-traffic-img{
		padding-right: 0;
	}
}
.travel-traffic-Go,
.travel-traffic-Back{
	padding: 10px 0;
	font-size: 18px;
}
.travel-traffic-Back:before{
	content: '';
	width: calc(100% - 30px);
	display: block;
	position: relative;
	left: 15px;
	top: -15px;
	border-top: 1px solid #bbbbbb;
}

/* 行程介紹 */
.travel-itinerary-icon{
	margin-top: -30px;
	font-size: 16px;
	text-align: right;
}
@media screen and (max-width:767px){
	.travel-itinerary-icon{
		margin-top: 0;
		font-size: 14px;
	}
}
.travel-itinerary-day{
	width: 100%;
	padding-left: 60px;
	padding-top: 50px;
	display: block;
}
.travel-itinerary-daycontent{
	width: 100%;
	border-left: 2px solid #9e28b5;
}
.travel-itinerary-title{
	font-size: 24px;
	font-weight: bold;
	padding-left: 70px;
	line-height: 36px;
	position: relative;
	margin-bottom: 50px;
}
.travel-itinerary-titleDate{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #9e28b5;
	position: absolute;
	text-align: center;
	line-height: 100px;
	color: #ffffff;
	font-size: 20px;
	top: -20px;
	left: -50px;
}
.travel-itinerary-titleDate span{
	font-size: 30px;
}
.travel-itinerary-content{
	padding-left: 15px;
}
.travel-itinerary-food{
	padding: 30px 0 30px 30px;
	position: relative;
}
.travel-itinerary-food .travel-itinerary-food-icon{
	position: absolute;
	top: 15px;
	left: -25px;
}
.travel-itinerary-food span{
	margin-right: 30px;
}
.travel-itinerary-hotel{
	padding: 30px 0 0px 30px;
	position: relative;
	margin-bottom: 20px;
}
.travel-itinerary-hotel .travel-itinerary-hotel-icon{
	position: absolute;
	top: 15px;
	left: -25px;
}
.travel-itinerary-day .travel-itinerary-day-more{
	display: none;
}
@media screen and (max-width:767px){
	.travel-itinerary-day{
		padding: 0;
		margin-top: 10px;
	}
	.travel-itinerary-daycontent{
		width: 100%;
		border-left: 0px solid transparent;
	}
	.travel-itinerary-title{
		font-size: 20px;
		line-height: 30px;
		padding: 0;
	}
	.travel-itinerary-titleDate{
		width: 100%;
		height: 30px;
		line-height: 30px;
		text-align: left;
		background-color: transparent;
		color: #9e28b5;
		display: block;
		position: relative;
		top: 0;
		left: 0;
	}
	.travel-itinerary-titleDate span{
		font-size: 20px;
	}
	.travel-itinerary-titleDate:before{
		content: '';
		display: inline-block;
		width: 15px;
		height: 15px;
		border-radius: 100%;
		background-color: #9e28b5;
	}
	.travel-itinerary-content{
		padding-left: 0;
	}
	.travel-itinerary-food{
		padding: 10px 0 10px 60px;
	}
	.travel-itinerary-food .travel-itinerary-food-icon{
		left: 0px;
	}
	.travel-itinerary-food span{
		display: block;
		margin-right: 0;
	}
	.travel-itinerary-hotel{
		padding: 20px 0 10px 60px;
		margin-bottom: 20px;
	}
	.travel-itinerary-hotel .travel-itinerary-hotel-icon{
		position: absolute;
		top: 15px;
		left: 0px;
	}
	.travel-itinerary-day{
		position: relative;
		height: 300px;
		overflow: hidden;
	}
	.travel-itinerary-day .travel-itinerary-day-more{
		width: 100%;
		height: 100px;
		padding-top: 60px;
		line-height: 40px;
		position: absolute;
		left: 0;
		bottom: 0;
		display: block;
		text-align: center;
		background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
		background-image:-o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
		background-image:-ms-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
		background-image:-moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1));
	}
	.travel-itinerary-day .travel-itinerary-day-more a{
		width: 100%;
		color: #007cbf;
		text-decoration: underline;
	}
}

.travel-mobile-bottom-signUp{
	padding: 10px;
	background-color: #771a7a;
	color: #ffffff;
	display: none;
}
.travel-mobile-bottom-signUp .travel-mobile-bottom-price{
	display: block;
	font-size: 14px;
}
.travel-mobile-bottom-signUp .travel-mobile-bottom-price strong{
	font-size: 24px;
}
.travel-mobile-bottom-signUp a{
	color: #ffffff;
	text-decoration: underline;
}
.travel-mobile-bottom-signUp .travel-mobile-bottom-signUp-BTN{
	width: 100%;
	text-align: center;
	display: inline-block;
	font-size: 24px;
	color: #ffd200;
	text-decoration: none;
	padding: 15px 0;
	border: 2px solid #ffef00;
	border-radius: 10px;
	margin: 5px 0;
	font-weight: bold;
	transition: .3s;
    background:rgba(0,0,0,0);
}
.travel-mobile-bottom-signUp .travel-mobile-bottom-signUp-BTN:focus,
.travel-mobile-bottom-signUp .travel-mobile-bottom-signUp-BTN:hover{
	color: #771a7a;
	background-color: #ffd200;
}
@media screen and (max-width:767px){
	.travel-mobile-bottom-signUp{
		display: block;
	}
}
@media screen and (max-width:380px){
	.travel-mobile-bottom-signUp .travel-mobile-bottom-price strong{
		font-size: 20px;
	}
	.travel-mobile-bottom-signUp .travel-mobile-bottom-signUp-BTN{
		font-size: 20px;
	}
}





.moreGroup-block{
	width: 100%;
	display: block;
	background-color: #f1f1f1;
	padding: 10px;
}
.moreGroup-block .row{
	width: 100%;
}
.moreGroup-block a.ensure{
	background-color: #ff9c00;
	padding: 5px;
	border-radius: 5px;
	color: #ffffff;
}
.moreGroup-btn{
	width: 100px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	border-radius: 10px;
	font-weight: bold;
	transition: .3s;
}
.moreGroup-btn:focus,
.moreGroup-btn:hover{
	text-decoration: none;
}
.moreGroup-btn.moreGroup-btn-close{
	background-color: #dddddd;
	color: #000000;
}
.moreGroup-btn.moreGroup-btn-see{
	background-color: #ffd200;
	color: #771a7a;
}
.moreGroup-btn.moreGroup-btn-see:focus,
.moreGroup-btn.moreGroup-btn-see:hover{
	color: #ffd200;
	background-color: #771a7a;
}
@media screen and (max-width:768px){
	.moreGroup-btn{
		width: 100%;
	}
}












@media screen and (max-width:990px){


}
@media screen and (max-width:767px){


}
@media screen and (max-width:380px){



}